global
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

defaults
        log     global
        mode    http
        option  tcplog
        option  dontlognull
        option  redispatch
        retries 3
        timeout connect      5000
        timeout client      50000
        timeout server      50000

userlist STATSUSERS
        group admin users admin
        user admin insecure-password admin
        user stats insecure-password admin

listen admin_page 0.0.0.0:9600
        mode http
        stats enable
        stats refresh 1s
        stats uri /
        acl AuthOkay_ReadOnly http_auth(STATSUSERS)
        acl AuthOkay_Admin http_auth_group(STATSUSERS) admin
        stats http-request auth realm admin_page unless AuthOkay_ReadOnly

listen mysql-cluster 192.168.70.100:3306
    mode tcp
    balance roundrobin
    option mysql-check user lb

    server pxc01 192.168.70.10:3306 check
    server pxc02 192.168.70.20:3306 check 
    server pxc03 192.168.70.30:3306 check 

listen nodejs 192.168.70.100:80
    mode http
    balance roundrobin
    server nodejs-1 192.168.70.100:3000 check
